/* ----------------------------------------- */
/*  Folders and Subfolders
/* ----------------------------------------- */
li.compendium-folder > .compendium-folder-header {
    padding: 6px ;
    line-height: 24px;
    background: rgba(255, 255, 255, 0.2);
    border-top: 1px solid #000 ;
    border-bottom: 1px solid #000 ;
  }
  li.compendium-folder > .compendium-folder-header h3 {
    margin: 0;
    color: #FFF;
  }
  li.compendium-folder > .compendium-folder-header h3 > i {
    margin-right: 10px;
  }
  li.compendium-folder > .compendium-folder-header .edit-folder {
    flex: 0 0 20px;
    text-align: center;
    color: #CCC;
    font-size: 14px;
  }
  li.compendium-folder.collapsed .subdirectory {
    display: none;
  }
  li.compendium-folder.collapsed > .compendium-folder-header {
    background: rgba(0, 0, 0, 0.5);
  }
  li.compendium-folder.collapsed > .compendium-folder-header h3 {
    text-shadow: none;
    color: inherit;
  }
  li.compendium-folder.collapsed > .compendium-folder-header h3 > i:before {
    content: "\f07b";
  }
  li.compendium-folder.collapsed > .compendium-folder-header .edit-folder {
    display: none;
  }
  /* Fix for issue #2 */
  #compendium h3 {border: 0px !important;padding: 0px !important;background: none !important;}
  /* Form styles */
  div.compendium-list {
    max-height:300px; 
    overflow:auto;
    background:rgba(0,0,0,0.05);
    border:1px solid #7a7971;
    border-radius:3px;
    padding:1px 3px;
    font-size:12px;
  }
  button.cfolder-create{
    margin-top:5px !important;
  }
  button.cfolder-submit{
    width:50%
  }
  button.cfolder-submit#delete  {
    background-color:#c51c1c
  }
