<form id="cleanup-compendium" autocomplete="off" onsubmit="event.preventDefault();">
    <div class="form-group">
        <p>{{localize "CF.cleanupL1"}}</p>
    </div>
    <div class="form-group">
        <select name="pack">
            {{#each packs}}
            <option value="{{this.metadata.id}}">{{this.title}} [{{this.metadata.packageName}}]</option>
            {{/each}}
        </select>
    </div>
    <button class="cleanup-submit" type="submit"><i class="fas fa-check"></i> {{localize "CF.cleanup"}}</button>
</form>
