<form id="folder-create" autocomplete="off" onsubmit="event.preventDefault();">

    <div class="form-group">
        <label>{{localize "FOLDER.Name"}}</label>
        <input type="text" name="name" placeholder="Folder Name" value="{{folder.name}}"/>
    </div>

    <div class="form-group">
        <label>{{localize "FOLDER.Color"}}</label>
        <div class="flexrow">
            <input type="text" name="color" value="{{folder.color}}" data-dtype="String"/>
            <input type="color" value="{{folder.color}}" data-edit="color"/>
        </div>
    </div>
    <div class="form-group">
        <label>{{localize "CF.textColor"}}</label>
        <div class="flexrow">
            <input type="text" name="fontColor" value="{{folder.fontColor}}" data-dtype="String"/>
            <input type="color" value="{{folder.fontColor}}" data-edit="fontColor"/>
        </div>
    </div>
    <div class="form-group">
        <label>{{localize "CF.folderIcon"}}</label>
        <div class="form-fields">
            {{filePicker target="icon" type="image"}}
            <input class="image" type="text" name="icon" placeholder="default folder" value="{{folder.icon}}"/>
        </div>
    </div>
    {{#if defaultFolder}}
        <h3 style='margin-bottom:0px;'>{{localize "CF.defaultFolderTitle"}}</h3>
    {{/if}}
    <div class="form-group">
        <ul>
            {{#if defaultFolder}}
                <li><i>{{localize "CF.defaultFolderDialogDescriptionL1"}}</i></li>
                <li><i>{{localize "CF.defaultFolderDialogDescriptionL2"}}</i></li>
            {{else}}
                <li><i>{{localize "CF.folderDialogDescriptionL1"}}</i></li>
                <li><i>{{localize "CF.folderDialogDescriptionL2"}}</i></li>
                <li><i>{{localize "CF.folderDialogDescriptionL3"}}</i></li>
            {{/if}}
        </ul>
    </div>
    {{#unless defaultFolder}}
    <div class="form-group">
        <div class='form-compendium-list'>
            <script>
                document.querySelector("#folder-create input[name='search-packs']").addEventListener('keyup',function(event){
                    let searchTerm = this.value;
                    let packs = document.querySelectorAll('#folder-create .form-compendium-list .pack-select')
                    for (let pack of packs){
                        if (pack.innerText.toLowerCase().includes(searchTerm.toLowerCase())){
                            pack.style.display='';
                        }else{
                            pack.style.display='none';
                        }
                    }
                })
            </script>
            <div class='form-header'>
                <i class='fas fa-search'></i><input type='text' name='search-packs' placeholder='Search'/>
            </div>
            <h2>{{localize "CF.assigned"}}</h2>
            {{#each apacks}}
                <div class='flexrow pack-select pack-assigned'>
                    <input type="checkbox" name="{{this.metadata.id}}" {{#ifIn metadata ../folder.data.compendiumList}} checked {{/ifIn}}/>
                    <label for="{{this.metadata.id}}" style='margin-top:2px'>{{this.metadata.label}} - {{this.documentClass.documentName}} ({{this.metadata.packageName}})  </label>
                </div>
            {{/each}}
            <h2>{{localize "CF.unassigned"}}</h2>
            {{#each upacks}}
                <div class='flexrow pack-select pack-unassigned'>
                    <input type="checkbox" name="{{this.metadata.id}}"/>
                    <label for="{{this.metadata.id}}" style='margin-top:2px;color:#666;'><i>{{this.metadata.label}} - {{this.documentClass.documentName}} ({{this.metadata.packageName}}) </i></label>
                </div>
            {{/each}}
        </div>
    </div>
    {{/unless}}
    <div class='flexrow'>
        <button class='cfolder-submit' type="submit"><i class="fas fa-check"></i> {{submitText}}</button>
    </div>
</form>
