{{#*inline "folderPartial"}}
<li class="directory-item compendium-folder folder flexcol {{#unless folder.expanded}}collapsed{{/unless}}"
    data-folder-id="{{folder.id}}" data-folder-depth="{{folder.depth}}">
  <header class="folder-header compendium-folder-header flexrow" style="background-color: {{folder.color}}">
    {{#if folder.icon}}
        <img src="{{folder.icon}}" style="height:24px!important;object-fit:scale-down;object-position:left!important;margin-left:0px"/>
        <h3 style="color:{{folder.fontColor}};margin-left:-23px">
    {{/if}}
    
    {{#unless folder.icon}}
    <h3 style="color:{{folder.fontColor}}">
        <i class="fas fa-folder-open fa-fw"></i>
    {{/unless}}
    {{folder.name}}</h3>
    {{#if user.isGM}}
      {{#unless folder.isDefault}}
      <a class="create-folder" style="flex:0 0 20px;color:{{folder.fontColor}}" data-parent-folder="{{folder.id}}"><i class="fas fa-folder-plus fa-fw"></i></a>
      <a class="create-entity-c" style="flex:0 0 20px;color:{{folder.fontColor}}" data-folder="{{folder.id}}"><i class="fas fa-atlas"></i></a>
      {{/unless}}
	{{/if}}
  </header>
  <ol class="subdirectory">
	{{~#each node.children}}
      {{> folderPartial folder=this.folder node=this user=../user}}
    {{/each}}
    {{#each node.documents}}
      {{> entityPartial}}
    {{/each}} 
    <ol class="document-matches"></ol>
  </ol>
</li>

{{/inline}}

{{#*inline "entityPartial"}}
<li class="compendium-pack directory-item" data-pack="{{this.pack.collection}}" data-open="0">
    <h4 class="pack-title">
        <a><i class="folder fas fa-folder"></i> {{this.pack.metadata.label}}</a>
        <div class="status-icons">
            {{#if this.pack.private}}<i class="fas fa-eye-slash"></i>{{/if}}
            {{#if this.pack.locked}}<i class="fas fa-lock"></i>{{/if}}
        </div>
    </h4>
    <footer class="compendium-footer">
        <span class="document-type">{{this.pack.documentClass.documentName}}</span>
        <span> ({{this.pack.metadata.packageName}})</span>
    </footer>
</li>
{{/inline}}
<section class="tab sidebar-tab directory flexcol compendium-sidebar" id="compendium" data-tab="compendium">
    <!-- Directory Header -->
    <header class="directory-header">
        <div class="header-actions action-buttons flexrow">
            {{#if user.isGM }}
            <button class="create-compendium"><i class="fas fa-atlas"></i> {{localize "COMPENDIUM.Create"}}</button>
            <button class="create-folder"><i class="fas fa-folder"></i> {{localize 'FOLDER.Create'}}</button>
            {{/if}}
        </div>
        <div class="header-search flexrow">
        <a class="header-control refresh-directory" title="Refresh"><i class='fa fa-sync'></i></a>
            <!--<i class="fas fa-search"></i>-->
            <input type="text" name="search" value="" placeholder="{{localize 'CF.searchCompendiums'}}" autocomplete="off"/>
            
            <a class="header-control collapse-all" title="{{localize 'FOLDER.Collapse'}}"><i class="fas fa-sort-amount-up fa-fw"></i></a>
            
        </div>
    </header>

    <!-- Directories List -->
	<ul class="directory-list">
	    {{~#each tree.children as |f fi|}}
            {{#if f.documents }}
                {{> folderPartial folder=this.folder node=this user=../user}}
            {{else}}
                {{#unless f.folder.isDefault }}
                    {{> folderPartial folder=this.folder node=this user=../user}}
                {{/unless}}
            {{/if}}

	    {{/each}}
	    {{#each tree.content}}
        {{> entityPartial}}
	    {{/each~}}
	</ul>
	<!-- Directory Footer -->
	<footer class="directory-footer">
        {{#if isPF1}}
            <div class="compendium-footer flexcol">
                <div class="flexrow">
                    <button class="compendium spells">{{localize "PF1.BrowseSpells"}}</button>
                    <button class="compendium items">{{localize "PF1.BrowseItems"}}</button>
                </div>
                <div class="flexrow">
                    <button class="compendium bestiary">{{localize "PF1.BrowseBestiary"}}</button>
                    <button class="compendium feats">{{localize "PF1.BrowseFeats"}}</button>
                </div>
                <div class="flexrow">
                    <button class="compendium classes">{{localize "PF1.BrowseClasses"}}</button>
                    <button class="compendium races">{{localize "PF1.BrowseRaces"}}</button>
                </div>
		<div class="flexrow">
                    <button class="compendium buffs">{{localize "PF1.BrowseBuffs"}}</button>
                </div>
            </div>
        {{/if}}
        {{#if isD35E}}
         <div class="compendium-footer">
            <button class="compendium spells">{{localize "D35E.BrowseSpells"}}</button>
            <button class="compendium items">{{localize "D35E.BrowseItems"}}</button>
            <button class="compendium bestiary">{{localize "D35E.BrowseBestiary"}}</button>
            <button class="compendium feats">{{localize "D35E.BrowseFeats"}}</button>
            <button class="compendium enhancements">{{localize "D35E.BrowseEnhancements"}}</button>
            <button class="compendium buffs">{{localize "D35E.BrowseBuffs"}}</button>
        </div>
        {{/if}}
        {{#if isPF2e}}
        <footer class="compendium-footer">
            <button type="button" class="compendium-browser-btn"><i class="fas fa-fire"></i> Compendium Browser</button>
        </footer>
        {{/if}}
    </footer>
    {{#if isPF2e}}
    <template id="compendium-search-match">
        <li class="match" >
            <div class="thumbnail"><img /></div>
            <a class="name"></a>
            <span class="details"></span>
        </li>
    </template>
    {{/if}}
</section>
