<form id="folder-move" autocomplete="off" onsubmit="event.preventDefault();">
    <div class="form-group">
        <div class='form-folder-list'>
            <script>
                document.querySelector("#folder-move input[name='search-folders']").addEventListener('keyup',function(event){
                    let searchTerm = this.value;
                    let folders = document.querySelectorAll('#folder-move .form-folder-list .folder-select')
                    for (let folder of folders){
                        if (folder.innerText.toLowerCase().includes(searchTerm.toLowerCase())){
                            folder.style.display='';
                        }else{
                            folder.style.display='none';
                        }
                    }
                })
            </script>
            <div class='form-header'>
                <i class='fas fa-search'></i><input type='text' name='search-folders' placeholder='Search'/>
            </div>
            <h2>{{localize "CF.destinationFolder"}}</h2>
            {{#each allFolders}}
                <div class='flexrow folder-select'>
                    <input type="radio" name='dest-folder' value="{{this.id}}"/>
                    <label for="{{this.id}}" style='margin-top:2px;'>
                        {{this.fullPathTitle}}</label>
                </div>
            {{/each}}
        </div>
    </div>
    <div class='flexrow'>
        <button class='cfolder-submit' type="submit"><i class="fas fa-check"></i> {{submitText}}</button>
    </div>
</form>
