<img src="http://www.quickmeme.com/img/be/beeea97c622c5614a80371eb0aece7082a3ff1b50421cf5acae3125c65ba5d8f.jpg" width="250px" height="250px" 
style="margin-left: auto; margin-right:auto;display:block"></img>
<p><strong>Compendium Folders are now in core Foundry!</strong> This means that there isn't a need for this module anymore, as core Foundry can take care of compendium organization. As a result I don't plan on making any more updates to Compendium Folders</p>
<p>I've included some migration code so all your folders both in the sidebar and inside compendiums will be converted to core Foundry folders.</p>
<p>The sidebar migration will begin once you click the button below. To migrate compendiums with folders in them, there's a new module setting called Migrate Compendiums.</p>
<p>Note: it is <strong>strongly recommended to back up your compendiums before running the migration</strong>. If you run into any issues with the migrations feel free to <a href="https://github.com/earlSt1/vtt-compendium-folders">raise an issue on the GitHub</a> or ping me on discord</p>
<p>Thanks for using the module! If you feel like supporting my work feel free to buy me a coffee at <a href="https://ko-fi.com/erceron">my kofi</a></p>
<p>- Erceron (@Erceron#0370)</p>
