<div class="dialog-content">
<form autocomplete="off">
    <p class="notes">You may export contained entities from this folder into an unlocked Compendium pack of the appropriate type.</p>
    <div class="form-group">
        <label>Destination Pack</label>
        <select name="pack">
        </select>
    </div>
</form>
</div>
<div class="dialog-buttons">
    <button class="dialog-button ok default" data-button="ok">
        <i class="fas fa-check"></i>
        Export Content
    </button>
</div>