<form id="folder-create" autocomplete="off">
    <div class="form-group">
        <label>{{localize "FOLDER.Name"}}</label>
        <div class="form-fields">
            <input type="text" name="name" placeholder="Folder Name" value="{{this.name}}">
        </div>
    </div>

    <div class="form-group">
        <label>{{localize "FOLDER.Color"}}</label>
        <div class="form-fields">
            <input type="text" name="color" value="{{this.color}}" data-dtype="String">
            <input type="color" value="{{this.color}}" data-edit="color">
        </div>
    </div>
    <div class="form-group">
        <label>{{localize "CF.textColor"}}</label>
        <div class="form-fields">
            <input type="text" name="fontColor" value="{{this.fontColor}}" data-dtype="String">
            <input type="color" value="{{this.fontColor}}" data-edit="fontColor">
        </div>
    </div>
    <div class="form-group">
        <label>{{localize "CF.folderIcon"}}</label>
        <div class="form-fields">
            {{filePicker target="icon" type="image"}}
            <input class="image" type="text" name="icon" placeholder="default folder" value="{{this.icon}}"/>
        </div>
    </div>
    <div class="form-group">
        <label>{{localize "FOLDER.SortMode"}}</label>
        <div class="form-fields">
            <label class="checkbox"><input type="radio" name="sorting" value="a" {{# if this.sorting }}checked{{/if}}> Alphabetical</label>
            <label class="checkbox"><input type="radio" name="sorting" value="m" {{# unless this.sorting }}checked{{/unless}}> Manual</label>
        </div>
    </div>
    <button type="submit"><i class="fas fa-check"></i>{{localize "FOLDER.Update"}}</button>
</form>