<form id="fix-compendium" autocomplete="off" onsubmit="event.preventDefault();">
    <div class="form-group">
        <h2>Issues found with your compendium!</h2>
    </div>
    <div class="form-group"/>
        <i>This section is experimental. It's STRONGLY recommended that you test this on a duplicated compendium first before running it on the original</i>
    </div>
    <div class="form-group">
        <table><th>Issues</th>
            {{#each messages}}
                <tr>
                    <td>{{this}}</td>
                </tr>
            {{/each}}
        </table>
    </div>
</form>
